/* --- Боковая навигация --- */
.side-nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    border-right: 2px solid #0ff;
    padding: 15px 10px;
    gap: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 15px #0ff;
    transition: all 0.3s ease-in-out;
}

.side-nav a {
    color: #0ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.side-nav a:hover {
    color: white;
    text-shadow: 0 0 10px #0ff;
}
